<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
</head>

<body>

  <!DOCTYPE html>
  <html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>IMDb - {{ Titulo }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-item.css" rel="stylesheet">

    <script>
      function makeStars(n) {

        var stars = '';
        for(var i = 0; i < n; i++) {
          stars += '★'
        }
        for(var i = 5; i > n; i--) {
          stars += '☆'
        }
        $("#stars").text(stars)
      }
    </script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">IMDb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/noticias">Notícias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies/nos-cinemas">Nos cinemas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies/em-breve">Em breve</a>
            </li>
            <li class="nav-item">
              <!-- Logado -->
              {{ #logged }}
              <a class="nav-link" href="/user/{{ Nome }}">{{ Nome }}</a>
              {{ /logged }}
              <!-- Não Logado -->
              {{ ^logged }}
              <a class="nav-link" href="/login">Sign In/Sign Up</a> {{ /logged }}
            </li>
            <li class="nav-item">
              {{ #logged }}
              <a class="nav-link" href="/logout"> Logout </a>
              {{ /logged }}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navigation -->

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          <h1 class="my-4">{{ Titulo }}</h1>
          <div class="list-group" id="tags">
            {{#Tags}}

              <a href="/tags/{{ Titulo }}" class="list-group-item">{{ Titulo }}</a>

            {{/Tags}}
          </div>
          {{#logged}}
            {{#IsAdmin}}
            <form action="JavaScript:adicionarTag()">
              <select id="tagAdd">
              {{#alltags}}
                <option value="{{Titulo}}" >{{Titulo}}</option>
              {{/alltags}}
              <input type="submit" value="Adicionar">
              </select>
            </form>
            {{/IsAdmin}}
          {{/logged}}
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="{{ Banner.Caminho }}" alt="">
            <div class="card-body">
              <p class="card-text"> {{ Sinopse }} </p>
              <p>
                {{#onWatch}}
                  <a href="/movie/{{ID}}/watchlist-toggle">Remover da watchlist</a>
                {{/onWatch}}
                {{^onWatch}}
                  <a href="/movie/{{ID}}/watchlist-toggle">Adicionar na watchlist</a>
                {{/onWatch}}
              </p>
              <form action="JavaScript:avaliar()">
                <select name="nota" id="aval">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <input type="submit" value="Avaliar">
              </form>
              <span class="text-warning" id="stars">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              <p id="estrelas">
                {{ Nota }} Estrelas
              </p>
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Atores e Atrizes do Filme
            </div>
            <div class="card-body" >

              {{ #Participantes }}
              <p> {{ ProfilePic }} {{ Nome }} </p>
              <hr>
              <!-- Feche o loop -->
              {{ /Participantes }}
            </div>

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Comentários do Filme
            </div>
            <div class="card-body" id="comment-box">

              <!-- Percorra o vetor de comentários -->
              {{ #Comentarios }}
              <!-- Já que estamos dentro do comentário, acesse seu conteúdo (Comentario.Conteudo) -->
              <p> {{ Conteudo }} </p>
              <!-- Todo comentário tem um usuário, então mostre seu nome (Comentario.Usuario.Nome) -->
              <small class="text-muted"> Postado por <a href="/user/{{Usuario.Nome}}">{{ Usuario.Nome }}</a></small>
              <hr>
              <!-- Feche o loop -->
              {{ /Comentarios }}
            </div>

            <form id="comentario" action="JavaScript:comentar()">
              <input type="text" name="conteudo" id="com" />
              <span onclick="comentar();">Comentar</span>
            </form>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->

    <footer class="py-5 bg-dark">
      <div class="container">
        <!-- Footer -->
        <p class="m-0 text-center text-white">&copy; 2017 Arthur Rosso e Pietro Carrara, LLC. All Rights Reserved.</p>
      </div>

      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
      function comentar() {
        $.post("/movie/{{ID}}/comment", $("#com").val())
          .done(function (comentario) {
            $("#comment-box")
              .append('<p>' + comentario + '</p><small class="text-muted"> Postado por <a href="/user/{{Nome}}">{{ Nome }}</a> </small><hr>');

            $('#com').val('');
          });
      }

      function avaliar() {
        $.post("/movie/{{ID}}/rate", $("#aval").val()).
        done(function(n) {
          $.post("/movie/{{ID}}/nota", null).
          done(function(n) {
            $("#estrelas").text(n + " Estrelas")
            makeStars(n)
          })
        })
      }

      function adicionarTag() {
        $.post("/movie/{{ID}}/tag-add", $("#tagAdd").val())
        .done(
          function(tag) {
            if (tag != ''){
              $("#tags").append('<a href="/tags/' + tag + '" class="list-group-item">' + tag + '</a>')
            }
          }
        )
      }

      makeStars({{Nota}})
    </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>
