  <!DOCTYPE html>
  <html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>IMDb - {{ person.Nome }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/css/shop-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">IMDb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/noticias">Notícias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies/nos-cinemas">Nos cinemas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies/em-breve">Em breve</a>
            </li>
            <li class="nav-item">
              <!-- Logado -->
              {{ #logged }}
              <a class="nav-link" href="/user/{{ Nome }}">{{ user.Nome }}</a>
              {{ /logged }}
              <!-- Não Logado -->
              {{ ^logged }}
              <a class="nav-link" href="/login">Sign In/Sign Up</a> {{ /logged }}
            </li>
            <li class="nav-item">
              {{ #logged }}
              <a class="nav-link" href="/logout"> Logout </a>
              {{ /logged }}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navigation -->

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-9">

          <div class="card mt-4">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>

              {{ #person.Imagens }}
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item">
                  <img src="{{ Caminho }}">
                </div>
              </div>

                {{ /person.Imagens }}

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="card-body">
              <p class="card-text"> Este(a) é {{ person.Nome }}, nasceu em {{ person.Nasc }} </p>
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Participou dos Filmes
            </div>
            <div class="card-body">

              {{ #person.Participacoes }}
              <p> {{ Titulo }} </p>
              <hr>
              <!-- Feche o loop -->
              {{ /person.Participacoes }}
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col-lg-9 -->

        </div>

      </div>
      <!-- /.container -->

      <footer class="py-5 bg-dark">
        <div class="container">
          <!-- Footer -->
          <p class="m-0 text-center text-white">&copy; 2017 Arthur Rosso e Pietro Carrara, LLC. All Rights Reserved.</p>
        </div>

        <!-- /.container -->
      </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </body>

  </html>
