<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>IMDb - User logs</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/thumbnail-gallery.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">IMDb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/noticias">Notícias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/movies/nos-cinemas">Nos cinemas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/movies/em-breve">Em breve</a>
                    </li>
                    <li class="nav-item active">
                        {{ #logged }}
                        <a class="nav-link" href="/user/{{ user.Nome }}">{{ user.Nome }}</a>
                        {{ /logged }} {{ ^logged }}
                        <a class="nav-link" href="/login">Sign In/Sign Up</a> {{ /logged }}
                    </li>
                    <li class="nav-item">
                        {{ #logged }}
                        <a class="nav-link" href="/logout"> Logout </a>
                        {{ /logged }}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navigation -->

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-9">

                <h1 class="my-4 text-center text-lg-left">Ações de {{target.Nome}}:</h1>

                <p id="sys-adm">
                    {{#target.IsAdmin}} Administrador do sistema {{/target.IsAdmin}}
                </p>


                {{#logged}} {{#user.IsAdmin}}
                <a href="#" onclick="toggleAdmin()">Conceder/Revogar admin</a>
                {{/user.IsAdmin}} {{/logged}}

                <div class="row text-center text-lg-left">

                    <div class="col-lg-9 col-md-4 col-xs-6">

                        <div class="card card-outline-secondary my-4">

                            <div class="card-header">
                                Avaliações
                            </div>

                            <div class="card-body" id="comment-box">

                                <!-- Percorra o vetor de comentários -->
                                {{ #target.Avaliacoes }}
                                <!-- Já que estamos dentro do comentário, acesse seu conteúdo (Comentario.Conteudo) -->
                                <p> {{ Nota }}/5 </p>
                                <small class="text-muted">{{ Filme.Titulo }}</small>
                                <hr>
                                <!-- Feche o loop -->
                                {{ /target.Avaliacoes }}
                            </div>

                        </div>


                        <div class="card card-outline-secondary my-4">

                            <div class="card-header">
                                Comentários
                            </div>

                            <div class="card-body" id="comment-box">

                                <!-- Percorra o vetor de comentários -->
                                {{ #target.Comentarios }}
                                <!-- Já que estamos dentro do comentário, acesse seu conteúdo (Comentario.Conteudo) -->
                                <p> {{ Conteudo }} </p>
                                <!-- Todo comentário tem um usuário, então mostre seu nome (Comentario.Usuario.Nome) -->
                                <small class="text-muted"> {{ Usuario.Nome }} >
                                    <a href="/movie/{{FilmeID}}">{{ Filme.Titulo }}</a>
                                </small>
                                <hr>
                                <!-- Feche o loop -->
                                {{ /target.Comentarios }}
                            </div>

                        </div>

                        {{#target.Watchlist}}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="/movie/{{ ID }}">
                                    <img class="card-img-top" src="{{ Banner.Caminho }}" alt="">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="/movie/{{ ID }}"> {{ Titulo }} </a>
                                    </h4>
                                    <p class="card-text">{{ Sinopse }}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734; ({{ Nota }} Estrelas) </small>
                                </div>
                            </div>
                        </div>
                        {{/target.Watchlist}}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">&copy; 2017 Arthur Rosso e Pietro Carrara, LLC. All Rights Reserved.
                </p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script>
            function toggleAdmin() {
                $.get("/admin/toggle/{{target.ID}}",
                    function (data) {
                        if (data == 'true') {
                            $('#sys-adm').text('Administrador do sistema')
                        } else {
                            $('#sys-adm').text('')
                        }
                    });
            }
        </script>

</body>

</html>